body {
  background-image: url('images/background.jpg');
}

#header {
	width: 1014px;
	height: 100px;
	border-bottom: 1px white dashed;
}

#headerboxb {
	width:342px;
	text-align:center;
	float: left;
}

#headerboxa {
	padding-left: 30px;
	width: 141px;
	float: left;
	font: 1.3em Georgia;
	color: white;
	font-weight: bold;
	text-align: center;
}

h1 {
    color: white;
    font-family: Georgia;
	font-size: 2.5em;
}

#TitleBarBack {
  float: none;
  width: 1012px;
  position: relative;
  z-index: 1;
  opacity: .4;
  background: grey;
  text-align: center;
  vertical-align: middle;
}

.list-header {
  float: left;
  height: 25px;
  padding-top: 5px;
  font: 1em arial, verdana, sans-serif;
  color: white;
  text-align: center;
  font-weight: bold;
  font-style:italic;
}

#TitleBarBeerPic {
	width: 140px;
	position: relative;
	z-index: 2;
	top: -30px;
}

#TitleBarBeerName {
	width: 580px;
	padding-left: 10px;
	border-left: 1px white dashed;
	position: relative;
	z-index: 2;
	top: -30px;
}

#TitleBarInfo {
	width: 140px;
	border-left: 1px white dashed;
	border-right: 1px white dashed;
	position: relative;
	z-index: 2;
	top: -30px;
}

#TitleBarKeg {
	width: 135px;
	position: relative;
	z-index: 2;
	top: -30px;
}

.beer-row {
  font: 1.5em arial, verdana, sans-serif;
  width: 1012px;
  height: 180px;
  position: relative;
}

#BeerPic {
	padding-left: 20px;
	padding-right: 20px;
	float: left;
	margin-top: 10px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10px;
}

#BeerName {
	height: 180px;
	width: 580px;
	padding-left: 10px;
	border-left: 1px white dashed;
	float:left;
}

#BeerNameL {
  height: 180px;
  width: 580px;
  padding-left: 10px;
  border-left: 1px white dashed;
  float:left;
}

#BeerName h1 {
	color: white;
	font: 1.5em Georgia;
	font-weight: bold;
	word-wrap: break-word;
	-webkit-margin-before: 10px;
	-webkit-margin-after: 1.82em;
}

#BeerNameL h1 {
  color: white;
  font: 1.5em Georgia;
  font-weight: bold;
  word-wrap: break-word;
  -webkit-margin-before: 10px;
  -webkit-margin-after: .8em;
}

#BeerNameL h2 {
  font: 1em Georgia;
  color: #888888;
}

#BeerName h2 {
	font: 1em Georgia;
	color: #888888;
}

#BeerInfo {
	height:170px;
	width: 140px;
	float:left;
	padding-top:10px;
	border-left: 1px white dashed;
	border-right: 1px white dashed;
	text-align: center;
	font: 1.8em Georgia;
	color: #D8D8D8;
}

#BeerInfo h2 {
	text-align: center;
	font: .5em Georgia;
	color: #C0C0C0;
	-webkit-margin-before: 5px;
	-webkit-margin-after: 0px;
}

#BeerStatus {
	height: 160px;
	width: 100px;
	float:left;
	padding-left: 30px;
	padding-top: 20px;
	opacity: .8;
}

#footer {
	float: right;
	color: #aeef33;
  -webkit-margin-before: 4px;
}
